.sidebar {
    width: 296px;
    min-height: 100vh;
}

.nav-item {
    position: relative;
}

.nav-link.active {
    color: $success;

    &:hover {
        color: lighten($success, 2%);
    }

    &::before {
        content: "";
        position: absolute;
        left: -32px;
        width: 4px;
        height: 32px;
        background-color: $success;
    }
}


