.admin-list{
    width: 320px;
}
.assignment-list-group{
    & .active{
        color: $gray-900;
        background-color: $gray-100;
        border: 1px solid $gray-400;
    }
}

.admin-card{
    width: calc(100% - 336px);
}